@import "variables";

body, .row {
  background: @lightColor;
}

.slider {
  background: @darkColor;
  width: 100%;
  float: left;
  position: relative;

  .callBackFormWrap {
    height: 40%;
    width: 300px;
    background: fadeOut(#000, 30%);
    position: absolute;
    right: 15%;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #5DCEC6;
//
//    .respond-to(small-desktops; {
//      height: 50%;
//      top: 25%;
//    });

    form {
      padding: 30px;

      label {
        font-size: 2rem;
        color: @lightColor;
      }

      label, input {
        display: block;
        width: 100%;
      }

      input {
        margin-bottom: 20px;
        outline: none;
        .formInputMixin();
      }

      input[type="submit"] {
        .submitButtonMixin();
        color: #000;
      }
    }
  }

  & > div[class^="col-"] {
    padding: 0;
  }


}

.mobileFormWrap {
  height: 400px;
  background: @darkColor;

  .mobileFormInsideWrap {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input, label {
      display: block;
    }

    input[type="text"] {
      margin-bottom: 20px;
      .formInputMixin();
    }

    label {
      color: @lightColor;
      font-size: 2rem;
    }

    input[type="submit"] {
      .submitButtonMixin();
    }
  }
}

.ourProductsHead {
  padding: 100px 0;
  text-align: center;
}

.productUnit {
  margin: 20px 0;
  padding: 20px;

  .productName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .productImg {

    .respond-to(wide-phones; {
      display: flex;
      flex-direction: row;
      justify-content: center;
    });

    img {
      border-radius: 5px;
      border: 1px solid @darkColor;
      width: 100%;
      background: @lightColor;
      padding: 10px;

      .respond-to(wide-phones; {
        width: 256px;
      });
    }

  }

  .productPrice {
    font-size: 2rem;
    text-align: right;
    margin: 20px 0;
  }

  .buyBtnWrap {
    text-align: center;

    a.btn {
      .button();
      width: 100%;
    }
  }
}

.productReviewsHeader {
  font-size: 36px;
  padding: 100px 0;
  text-align: center;
}

.productWrap {
  background: @sectionLightBackColor;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 50px;

  .reviewImgWrap {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background: @lightColor;
  }

  .reviewRatingStars {
    text-align: center;
    padding: 20px 0;
    font-size: 3rem;
  }

  .reviewProductName {
    font-size: 3rem;
  }

  .reviewPost {
    font-size: 1.5rem;
    text-align: justify;
  }

  .reviewAuthor {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;

    .respond-to(phones; {
      text-align: left;
    });
  }

  .helpful {
    font-size: 2rem;
    span {
      cursor: pointer;
      position: relative;
      top: 4px;
    }
    .glyphicon-thumbs-up {
      color: green;
    }

    .glyphicon-thumbs-down {
      color: red;
    }
  }
}

.ourStoresHeader {
  font-size: 36px;
  margin-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.addresses {
  margin-bottom: 50px;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    address {
      background: @sectionLightBackColor;
      padding: 100px;

      .respond-to(phones; {
        padding: 50px;
      });

      .respond-to(tablets; {
        padding: 50px;
        width: 80%;
      });

      .respond-to(small-desktops; {
        padding: 50px;
      });

      button {
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1.5rem;
        margin-top: 20px;
        .button();
      }
    }
  }
}

