html, body{
    height: 100%;
}

.container{
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    min-height: 100%;
}


.header{
    background-color: darkcyan;
    height: 200px;
}

.nav{
    width: 200px;
    height: 200px;
    background-color: darkmagenta;
    float: left;
}

.main{
    background-color: navajowhite;
/*    padding-left: 200px;*/
    margin-left: 200px;
}

.clr{
    height: 200px;
}

.footer{
    background-color: darkgray;
    height: 200px;
    clear: both;
    margin-top: -200px
}