body {
    background-color: #f8f8f8;
}

.float_left {
    float: left;
}

.body_content {
    clear: both;
}

.menu {
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
}

.menu a {
    color: darkseagreen;
}

.menu a:hover {
    color: mediumvioletred;
}

.property-header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.product-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product-properties {
    font-weight: 800;
    line-height: 20px;
    list-style-image: url(images/cake_marker.png);
}

.product-properties ul {
    list-style-image: url(images/cake_marker_2.png);
}

.product-deteiled-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.request-input {
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.request-name {
    margin-left: 15px;
    color: black;
}

.request-email {
    margin-left: 5px;
    font-style: italic;
    color: darkblue;
    text-transform: none;
}

.request-email:focus {
    background-color: lightgreen;
    color: darkred;
}

.request-theme {
    margin-left: 10px;
}

.request-text {
    width: 245px;
    font-family: "Times New Roman", sans-serif;
    margin-bottom: 5px;
}

.check-subscription {
    margin-bottom: 10px;
}

.product-img {
    padding: 1px;
    border: 1px solid #021a40;
}

.product-img:hover {
    padding: 2px;
    border: none;
}

.map {
    margin: 10px;
}

.products_list {
    list-style-type: none;
}

.product_info p:first-letter {
    font-stretch: extra-expanded;
    font-size: 30px;
}

.composition_table {
    border-collapse: collapse;
    border: 1px solid black;
    min-width: 60%;
}

.composition_data {
    border: 1px solid black;
}

.composition_main {
    width: 40%;
    text-align-last: right;
}

.composition_values {
    width: 30%;
    text-align: center;
}

.table_header {
    height: 30px;
    border-collapse: collapse;
    border: 1px solid black;
}
